- name: Download the 7-Zip package
  win_get_url:
    url: https://www.7-zip.org/a/7z1701-x64.msi
    dest: C:\Packages\7z.msi

- name: Ensure 7-Zip is installed via win_package
  win_package:
    path: C:\Packages\7z.msi
    state: present

- name: Ensure 7-Zip is not installed via win_package
  win_package:
    path: C:\Packages\7z.msi
    state: absent
